<h5 class="modal-title">IMPORTANT TO KNOW BEFORE DIGGING INTO YOUR GENETICS</h5>
<ul>
  <li>Your genetic makeup is only part of the equation.</li>
  <li>Genetics alone is insufficient to predict or identify talent.</li>
  <li>Genetics can’t (shouldn’t) be used to set or change your goals; rather, to help you reach your goals most effectively.</li>
</ul>

<h5 class="modal-title">Enhanced Training Optimization</h5>
<p>Your PhysiogenomiX analysis includes categorical summary and detailed results from specific genes related to physical training.  These genes shown (and others) are used to enhance your training optimization.</p>

<h5 class="modal-title">Genetic Basics</h5>
<ul>
  <li><strong>Alleles:</strong> The four alternate chemical bases of DNA:  adenine (A), guanine (G), cytosine (C), and thymine (T).  When testing, one allele is referred to as the ‘reference’ and the other as the ‘variant’.</li>
  <li><strong>Chromosome:</strong> A linear or circular strand composed of DNA that contains genes and is located within the nucleus of your cells.  Each chromosome is composed of two complementary strands. Alleles may be reported on either strand.</li>
  <li><strong>DNA (deoxyribonucleic acid):</strong> This is the molecule that carries your genetic information.</li>
  <li><strong>Gene:</strong> a specific section of DNA within a chromosome that is the fundamental unit of heredity.</li>
  <li><strong>Genome:</strong> the complete set of genes or genetic material of an organism.</li>
  <li><strong>Genotype:</strong> The genetic makeup of an individual or the pair of alleles (one from each chromosome) possessed at a given SNP.</li>
  <li><strong>Heterozygote:</strong> An individual with two different alleles of a given gene or locus.</li>
  <li><strong>Homozygote:</strong> An individual with two identical alleles of a given gene or locus.</li>
  <li><strong>Insertion/Deletion (Indel):</strong>  A genetic variation where a base is added to or deleted from a sequence.  The alleles for an Indel gene are represented as Insertion (I) or Deletion (D).</li>
  <li><strong>Locus:</strong> A specific location on a chromosome.</li>
  <li><strong>Phenotype:</strong> The physical characteristics expressed by an individual resulting from the interaction of their genotype with the environment.</li>
  <li><strong>SNP (single nucleotide polymorphism):</strong> a single site in the genome that varies across individuals and used to identify alleles for a particular gene.</li>
</ul>