<footer class="footer d-none d-sm-flex">
  <div class="container">
    <!-- <div class="row footer-upper">
      <div class="col-10 offset-1 footer-upper-inner">
        <div class="row">
          <div class="col-2"><div  [inlineSVG]="'../assets/img/svg/logo-gray.svg'" [autosize]="true" style="width: 115px;" class="mx-auto d-inline-block"></div></div>
          <div class="col-2">
            <h5>Train</h5>
            <ul class="footer-nav list-unstyled">
              <li><a href="/season-planner/training-phase/weekly-summary">Training Schedule</a></li>
              <li><a href="/training-intensities">Training Intensities</a> </li>
              <li><a href="/assessments">Assessments</a></li>
              <li><a href="/swimform">Swim Form</a></li>
            </ul>
          </div>
          <div class="col-2">
            <h5>Race</h5>
            <ul class="footer-nav list-unstyled">
              <li><a href="/season-planner">Season Planner</a></li>
              <li><a href="/racex">RaceX</a> </li>
            </ul>
          </div>
          <div class="col-2">
            <h5>Connect</h5>
            <ul class="footer-nav list-unstyled">
              <li><a href="/user/devices">My Devices</a> </li>
              <li><a href="/coaches">Coaches</a></li>
            </ul>
          </div>
          <div class="col-2">
            <h5>Support</h5>
            <ul class="footer-nav list-unstyled">
              <li><a href="/support">Knowledge Base</a></li>
              <li><a routerLink="/support" [queryParams]="{'action': 'submit'}">Submit a Request</a></li>
              <li><a href="/contactus">Contact Us</a></li>

            </ul>
          </div>
          <div class="col-2">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/TriDot/"><div  [inlineSVG]="'../assets/img/svg/facebook-logo.svg'" [autosize]="true" style="width: 30px;" class="mx-auto d-inline-block"></div></a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/tridottraining"><div  [inlineSVG]="'../assets/img/svg/twitter-logo.svg'" [autosize]="true" style="width: 30px;" class="mx-auto d-inline-block"></div></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/tridotsystem/"><div  [inlineSVG]="'../assets/img/svg/ig-logo.svg'" [autosize]="true" style="width: 30px;" class="mx-auto d-inline-block"></div></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/company/tridot"><div  [inlineSVG]="'../assets/img/svg/linkedin-logo.svg'" [autosize]="true" style="width: 30px;" class="mx-auto d-inline-block"></div></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row footer-lower">
      <div class="col footer-lower-inner">
        <small>Copyright &copy; {{currentYear}} Predictive Fitness. All Rights Reserved. Read our </small>
        <small><a href="/pages/privacy-policy" class="text-body font-weight-normal">Privacy Policy</a> &amp;</small>
        <small><a href="/pages/terms-and-conditions" class="text-body font-weight-normal">Terms of Service</a></small>
      </div>
    </div>
  </div>
</footer>
<app-install-popup></app-install-popup>
