<div *ngIf="canEdit || session?.coachNotes" class="p-3 py-sm-0 pr-sm-0 pl-sm-2">
  <div *ngIf="session?.coachNotes" class="position-relative">
    <button *ngIf="canEdit && !notesEditing" class="btn btn-default btn-sm btn-outline-secondary btn-rounded m-0 px-1 py-0" style="position: absolute; right: 8px; top: 8px;" 
      (click)="notesEditing = true">
      <i class="fal fa-pencil"></i>
    </button>
    <div class="m-3"><span class="d-inline-block py-2 lead border-bottom">Coach notes:</span></div>
    <div *ngIf="!notesEditing" class="px-3 pb-4" [innerHTML]="getNotes(sessionNotes)"></div>
    <ng-container *ngIf="notesEditing && sessionNotes">
      <form #sessionNotesForm="ngForm">
        <div class="p-sm-3 d-flex flex-wrap flex-row-reverse">
          <textarea class="col-12" placeholder="Enter notes for your athlete..." [ngModel]="sessionNotes" name="sessionNotes"></textarea>
          <button type="button" class="col-12 col-sm-3 col-lg-2 mt-3 btn btn-md btn-primary text-md text-nowrap"
            (click)="submitNotes(sessionNotesForm.value.sessionNotes);sessionNotesForm.reset()"
            [disabled]="busy">
            <i *ngIf="busy" class="fa fa-spin fa-spinner"></i>
            Update Note
          </button>
        </div>
      </form>
    </ng-container>
  </div>
  <div *ngIf="canEdit && notesEditing && !session?.coachNotes">
    <form #sessionNotesForm="ngForm">
      <div class="p-sm-3 d-flex flex-wrap flex-row-reverse">
        <textarea class="col-12" placeholder="Enter notes for your athlete..." rows="4" [ngModel]="session?.coachNotes" name="sessionNotes"></textarea>
        <!-- <button type="button" class="ml-2 btn btn-outline-secondary btn-rounded px-3 pill float-left text-nowrap" (click)="submitNotes(sessionNotesForm.value.sessionNotes);sessionNotesForm.reset()">Submit</button> -->
        <button type="button" class="col-12 col-sm-3 col-lg-2 mt-3 btn btn-md btn-primary text-md"
          (click)="submitNotes(sessionNotesForm.value.sessionNotes);sessionNotesForm.reset()"
          [disabled]="busy">
          <i *ngIf="busy" class="fa fa-spin fa-spinner"></i>
          Submit
        </button>
      </div>
    </form>
  </div>
</div>