
.profile-cal {
  position: absolute;
  right: 14px;
  border-left: 1px solid #d0d5d9;
  padding-left: 8px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.tridot-score-setting {
  border-radius: 8px !important;
  border: 3px solid #e9ecef;
  height: 2.5rem !important;
  width: 2.5rem !important;
  line-height: 1.25rem;
}

.input-error {
  position: absolute;
  top: 36px;
  font-size: 14px;
}

.training-item {
  width: 12rem ;
  @media screen and (max-width:576px) {
    width: 7rem;
  }
}

.training-select-item{
  width: 12rem ;
  @media screen and (max-width:576px) {
    width: 14rem;
  }
}