<div class="d-flex flex-wrap justify-content-around align-items-center h-100">
  <div class="confirmation-msg bg-white rounded shadow p-4 text-center">
    <p class="my-3">Please confirm the accuracy of your assessment values entered during onboarding. These values along with other data are used to determine your training zones, project race results, and optimize your training.</p>
    <button [routerLink]="'/assessments'" class="btn btn-lg btn-primary text-uppercase mb-2">Confirm your assessments <i class="fal fa-plus"></i></button>
  </div>
</div>