<div class="main">
  <div class="container">
    <button class="btn btn-lg btn-white shadow rounded px-3 pt-1 pb-2 mr-3 mb-4" [routerLink]="['/genetics']">
      <div  [inlineSVG]="'../assets/img/svg/icons/return-icon.svg'" class="mx-auto d-inline-block"></div>
    </button>
    <ng-container *ngIf="geneticsData">
      <genetics-header [geneticsData]="geneticsData"></genetics-header>
      <genetics-list [genetics]="geneticsData.genetics"></genetics-list>

      <div class="card p-4 rounded shadow mb-4 px-0 py-1">
        <div class="d-flex justify-content-between align-items-center" (click)="expandedInformation = !expandedInformation">
          Important Genetic Information
          <i class="fal text-xl"
            [class.fa-angle-down]="!expandedInformation"
            [class.fa-angle-up]="expandedInformation"
          ></i>
        </div>
        <div *ngIf="expandedInformation" [@ngIfExpandHeight] class="pt-4">
          <genetics-glossary></genetics-glossary>
        </div>
      </div>

    </ng-container>
  </div>
</div>

<ng-template #geneticsInformationModal>
  <div class="modal-header">
    <h5 class="modal-title">Important Genetic Information</h5>
    <button class="close" type="button" (click)="closeModal()">
      <span>×</span>
    </button>
  </div>
  <div class="modal-body p-4">
    <genetics-glossary></genetics-glossary>
  </div>
</ng-template>