<div class="container h-100 green-borders">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-8 col-lg-6 col-xl-4 text-center">
      <div  [inlineSVG]="'../../assets/img/tridot-logo.svg'" [autosize]="true"  style="width: 200px;" class="mt-4 mb-5 mx-auto d-inline-block"></div>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <div class="box shadow rounded mb-4 pb-5 pt-5">
        <form [formGroup]="forgotPasswordForm">
          <div class="row mb-3">
            <p>Enter the email address you used when registering your account</p>
            <div class="col">

              <label class="inside-label inside-label-lg" for="email">
                <span class="custom-tooltip" *ngIf="forgotPasswordForm.hasError('email', 'email') && forgotPasswordForm.get('email').touched">
                  <i class="far fa-exclamation-circle text-danger cursor-pointer"></i>
                  <span class="custom-tooltiptext"> Please verify your email </span>
                </span>

                <i class="far fa-check-circle text-success cursor-pointer " title="Edit Mode" *ngIf="!forgotPasswordForm.hasError('email', 'email') && forgotPasswordForm.get('email').touched"></i>
              </label>

              <input type="email" class="form-control" formControlName="email" [(ngModel)]="email" id="exampleInputemail1"
                aria-describedby="emailHelp" placeholder="Email Address">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" [disabled]="!forgotPasswordForm.valid || loading" class="btn btn-lg btn-block btn-danger text-md mb-3"
                (click)="forgotPassword(email)">Submit
                <i class="fal fa-spinner fa-spin" *ngIf="loading"></i>
              </button>
              <p class="mb-0">
                <a [routerLink]="['/login']" class="font-italic mb-0">Return to Login Form</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
