<div class="row mb-4 season-planner-row mx-auto">
    <div *ngFor="let row of currentPlan.rowDataMobile | paginate: { itemsPerPage: 5, currentPage: page }"
      class="season-planner-inner-row d-flex align-items-center mt-4 w-100">
      <ng-container *ngFor="let data of row; let i = index">
        <div class="card-box phase-block d-flex justify-content-between align-items-center flex-fill rounded{{row.length > 1 ? (i % 2 === 0 ? '-left' : '-right') : ''}} {{getPhaseBorder(data[0])}}">
          <ng-container *ngFor="let week of data">
            <div class="week-span cursor-pointer flex-fill"
              (click)="setWeek(week)">
              <div class="stacked-number-container race-block" *ngIf="week.raceData"
                (click)="goToRace(week)"
                [class.race-block-c]="week.raceData.raceCategory === 'C'">
                <div class="stacked-number-inner">
                  <span class="number-lg-sub">{{week.weekdayStartDate | amLocal | amDateFormat: 'MMM'}}</span>
                  <span class="number-lg">{{week.weekdayStartDate | amLocal | amDateFormat: 'DD'}}</span>
                </div>
              </div>
              <div class="stacked-number-container" *ngIf="!week.raceData"
                (click)="goToTrainingPhase(week)">
                <div class="stacked-number-inner">
                  <span class="number-lg-sub">{{week.weekdayStartDate | amLocal | amDateFormat: 'MMM'}}</span>
                  <span class="number-lg">{{week.weekdayStartDate | amLocal | amDateFormat: 'DD'}}</span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="text-right pagination-controls">
    <pagination-controls 
      class="my-pager"
      previousLabel=""
      nextLabel=""
      (pageChange)="page = $event">
    </pagination-controls>
  </div>