.custom-menu-wrap {
    min-height: 50px;
    .custom-menu__list { 
    }
}

.custom-menu-wrap-desktop {
  right: 0px;
  &.open {
    right: 0px !important;
  }
}


@media only screen and(max-width: 767px) {
  .custom-menu-wrap-mobileOrtablet {
    right: 20px;
    &.open {
      right: 20px !important;
    } 
  }
}

.session-menu-wrap {
  top: 0 !important;
  right: 0 !important;

  &.open {
    top: -1px !important;
    right: -1px !important;
  }

  .session-menu__button {
    right: -8px;
    top: -5px;
  }
}