<div class="modal-header">
  <h6 class="modal-title pull-left">How do I cancel my subscription?</h6>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>    
    Need help? Call us at <strong>866-961-5551</strong> or email us at <a href="mailto:support@tridot.com" target="_top">support@tridot.com</a>.<br/><br/>
    If you wish to cancel your subscription, please email us at <a href="mailto:support@tridot.com" target="_top">support@tridot.com</a>.
  </p>
  <!-- <p>To switch to <strong>"Lifestyle"</strong> for just <strong>$9.99/month,</strong>
  close this window and click on the 'Downgrade' button.</p>

  <p>Need help?  Call us at 866-961-5551 or email us at support@tridot.com.</p>

  <p>We value your feedback regarding your experience with TriDot and want to understand and resolve any issue you may have had.</p>

  <p>Please note your subscription cannot be canceled by phone or email. If you wish to cancel your subscription, please complete the <a href="javascript:void(0)" (click)="goToOffboardingSurvey()">Offboarding Survey.</a></p>

  <p> * Please Note:  Canceling your subscription ends any grandfathered or legacy pricing.  Future re-activation will be at the then-current rate and will require a new Activation Fee.</p> -->
</div>