<div class="main">
  <div class="container">
    <div class="row mb-3">
      <div class="col">
        <h4 class="page-title text-center mb-4">
          Confirm Your Subscription
        </h4>
      </div>
    </div>
    <div class="row" *ngIf="responseMessage.message">

      <div class="col-12 col-lg-8 offset-lg-2">
        <div class="alert {{responseMessage.class}} text-center"> {{responseMessage.message}}</div>
      </div>
    </div>
      <ng-container *ngIf="subscription && chargeInfo">
        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card-deck">
              <div class="card card-box shadow mb-4 rounded-lg sub-block sub-active">
                <div class="card-body">
                  <h4 class="h4 text-drk card-title font-weight-normal mb-1">{{selectedSubscription.name === 'Premium2017' ? 'Premium' : selectedSubscription.name}}</h4>
                  <p *ngIf="chargeInfo.activationFee" 
                    class="card-text d-flex items-align-center justify-content-between mb-0">
                    <span>One-time activation fee:</span>
                    <span>{{ chargeInfo.activationFee | currency:subscription.currencyCode||'USD':'symbol':'1.2-2'}}</span>
                  </p>
                  <p *ngIf="chargeInfo.refundAmount" 
                    class="card-text d-flex items-align-center justify-content-between mb-0">
                    <span>Prorated refund:</span>
                    <span>{{ chargeInfo.refundAmount | currency:subscription.currencyCode||'USD':'symbol':'1.2-2'}}</span>
                  </p>
                  <p class="card-text d-flex items-align-center justify-content-between mb-0">
                    <span>Monthly fee:</span>
                    <span>{{ chargeInfo.cost | currency:subscription.currencyCode||'USD':'symbol':'1.2-2'}}</span>
                  </p>
                  <p *ngIf="chargeInfo.taxAmount" 
                    class="card-text d-flex items-align-center justify-content-between mb-0">
                    <span>{{ chargeInfo.taxDisplayName }}:</span>
                    <span>{{ chargeInfo.taxAmount | currency:subscription.currencyCode||'USD':'symbol':'1.2-2'}}</span>
                  </p>
                  <div class="hor-divider w-100 my-2"></div>
                  <p class="card-text d-flex items-align-center justify-content-between mb-0">
                    <span>Amount paid today:</span>
                    <span>{{ chargeInfo.totalCost | currency:subscription.currencyCode||'USD':'symbol':'1.2-2'}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-container [ngSwitch]="mode">
          <form *ngSwitchCase="Mode.Payment" #form="ngForm" class="row mx-0" (submit)="changeSubscription()">

            <div class="col-12 col-lg-8 offset-lg-2">
              <div class="row">
                <div class="col-12 col-lg-6 p-0">
                  <div class="h-100 card card-box shadow p-3 mx-lg-2 mb-4 rounded-lg sub-block border-0">
                    <div class="card-header card-title text-left px-0 pb-lg-3">
                      <h6><span>Billing Address</span></h6>
                    </div>
                    <div class="card-body m-0 p-0">
                    </div>
                    <div class="card-footer pt-2 px-0 pb-lg-3">
                      <div *ngIf="sameAsAccountVisible" class="row mb-3">
                        <div class="col-12">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1" [checked]="sameAsAccount"
                                [ngModel]="getBillingSameAsAccountAddr()" name="sameAsAccount" (ngModelChange)="setSameAsAccount($event)">
                              <label class="custom-control-label" for="customCheck1">Same as Account Address</label>
                            </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-6">
                          <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="subscription.billingFirstName" name="billingFirstName" maxlength="30" required
                            #billingFirstName="ngModel" [customTooltip]="form.submitted && billingFirstName.invalid ? 'This field is required' : null"  tooltip-class="tooltip-danger">
                        </div>
                        <div class="col-6">
                          <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="subscription.billingLastName" name="billingLastName" maxlength="30" required
                            #billingLastName="ngModel" [customTooltip]="form.submitted && billingLastName.invalid ? 'This field is required' : null"  tooltip-class="tooltip-danger">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-12">
                          <input type="text" class="form-control" placeholder="Street Address" [(ngModel)]="subscription.billingAddress.address1" name="address1" maxlength="100"
                            #address1="ngModel" [customTooltip]="form.submitted && address1.invalid ? 'This field is required' : null"  tooltip-class="tooltip-danger">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-6">
                          <input type="text" class="form-control" placeholder="Apt/Suite #" [(ngModel)]="subscription.billingAddress.address2" name="address2" maxlength="100" 
                            #address2="ngModel" >
                        </div>
                        <div class="col-6">
                          <input type="text" class="form-control" placeholder="City" [(ngModel)]="subscription.billingAddress.city" name="city" maxlength="30" required
                            #city="ngModel" [customTooltip]="form.submitted && city.invalid ? 'This field is required' : null"  tooltip-class="tooltip-danger">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-6">
                          <select *ngIf="billingStates?.length"
                              class="custom-select-form-control custom-select custom-select-lg text-md"
                              [class.border-danger]="state.invalid"
                              [(ngModel)]="selectedState" name="state"
                              required
                              #state="ngModel" [customTooltip]="form.submitted && state.invalid ? 'This field is required' : null"  tooltip-class="tooltip-danger">
                            <option value="">State / Province</option>
                            <option *ngFor="let state of billingStates" [value]="state.code">{{state.name}}</option>
                          </select>
                          <input *ngIf="!billingStates?.length"
                            type="text" class="form-control" maxlength="50"
                            [class.border-danger]="state.invalid"
                            [(ngModel)]="subscription.billingAddress.state" name="state"
                            placeholder="State / Province"
                            required
                            #state="ngModel" [customTooltip]="form.submitted && state.invalid ? 'This field is required' : null"  tooltip-class="tooltip-danger"
                            pattern=".*[^\s]+.*">
                        </div>
                        <div class="col-6">
                          <input type="text" class="form-control"
                            [(ngModel)]="subscription.billingAddress.zip" name="zip"
                            placeholder="Postal Code"
                            required
                            #zip="ngModel" [customTooltip]="form.submitted && zip.invalid ? 'This field is required' : null"  tooltip-class="tooltip-danger">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <select class="custom-select-form-control custom-select custom-select-lg text-md"
                            [(ngModel)]="subscription.billingAddress.countryCode" name="countryCode"
                            (change)="onCountryCodeChanged()" required
                            #countryCode="ngModel" [customTooltip]="form.submitted && countryCode.invalid ? 'This field is required' : null"  tooltip-class="tooltip-danger">
                              <option value="">Country</option>
                              <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
                <div class="col-12 col-lg-6 p-0">
                  <div class="mt-4 mt-lg-0 h-100 card card-box shadow p-3 mx-lg-2 mb-4 rounded-lg sub-block border-0">
                    <div class="card-header card-title text-left px-0 pb-lg-3 d-flex justify-content-between">
                      <div><h6>Payment Method</h6></div>
                      <div class="text-nowrap" *ngIf="paymentGatewaySource === 'STRIPE' && subscription.creditCardData.ccNumber">
                        <button class="btn-default btn-xs px-2 rounded cursor-pointer text-sm text-uppercase" *ngIf = "isEditable === true" (click)="onCancelEditCardDetails()">
                          Cancel
                        </button>
                        <button class="btn-default btn-xs px-2 rounded cursor-pointer text-sm text-uppercase" *ngIf = "isEditable === false" (click)="onEditCardDetails()">
                          Edit
                        </button>
                      </div>
                    </div>
                    <div class="d-none d-lg-block card-body m-0 p-0">
                    </div>
                    <div class="row mb-4">
                      <form #formPromo="ngForm" class="row m-0 w-100">
                        <div class="col-12 col-sm-6">
                          <label *ngIf="promotionCode.value" for="promotionCode" class="inside-label inside-label-lg">
                            <i *ngIf="promoCodeError" class="far fa-exclamation-circle text-danger cursor-pointer"
                                customTooltip="Invalid promotion code" tooltip-class="tooltip-danger"></i> 
                            <i *ngIf="promoCodeSuccess" class="far fa-check-circle text-success cursor-pointer"></i>
                            <i class="d-sm-none fa fa-times text-secondary btn-default rounded ml-1" style="padding: 7px 9px" (click)="clearPromo();formPromo.resetForm();clearPromoStatus();"></i>
                          </label>
                          <input type="text" class="form-control"
                            [ngModel] name="promotionCode"
                            (ngModelChange)="applyPromo($event)" 
                            (blur)="applyPromo(promotionCode.value)"
                            #promotionCode="ngModel" 
                            placeholder="Promo Code"
                            required>
                        </div>
                        <div class="d-none d-sm-block col-6">
                          <button *ngIf="promotionCode.value" type="button" class="btn btn-lg btn-dark btn-block text-md text-uppercase"
                            (click)="clearPromo();formPromo.resetForm();clearPromoStatus();"
                            >Clear</button>
                        </div>
                      </form>
                    </div>
                    <div class="card-footer pt-4 px-0 pb-lg-3">
                      <div class="row mb-4" *ngIf = "!showStripeElements">
                        <div class="col-12">
                          <input type="text" class="form-control" placeholder="Credit Card Number" [(ngModel)]="subscription.creditCardData.ccNumber" name="ccNumber" maxlength="19" required
                          [disabled]="disableNormalCardElements" #ccNumberInput="ngModel" [customTooltip]="form.submitted && ccNumberInput.invalid ? 'This field is required' : null"  tooltip-class="tooltip-danger">
                        </div>
                      </div>
                      <div class="row mb-4" *ngIf = "!showStripeElements">
                        <div class="col-6">
                          <input type="text" class="form-control" [class.border-danger]="expirationDateError" placeholder="mm/yy" [dropSpecialCharacters]="false"
                            mask="AA/AAAA" name="expirationDate" [(ngModel)]="subscription.creditCardData.expirationDate" required
                            (blur)="validateExpirationDateError(expirationDate.value, expirationDate.dirty)" [disabled]="disableNormalCardElements"
                            #expirationDate="ngModel" [customTooltip]="expirationDateError" tooltip-class="tooltip-danger">
                        </div>
                        <div class="col-6">
                          <input type="text" class="form-control" [mask]="isCardAMEX ? '0000' : '000'" placeholder="CVC" name="cvc" [(ngModel)]="subscription.creditCardData.cvc" [required]="!isDowngrade"
                          [disabled]="disableNormalCardElements" #cvc="ngModel" [customTooltip]="form.submitted && cvc.invalid ? 'This field is required' : null"  tooltip-class="tooltip-danger">
                        </div>
                      </div>
                      <div class="cell stripe-card stripe-card2" id="stripe-card-2" *ngIf = "showStripeElements">
                        <div class="row">
                          <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
                          <div class="field col-12">
                            <div id="stripe-card-number" class="input empty"></div>
                            <label for="stripe-card-number" data-tid="elements_examples.form.card_number_label">Card number</label>
                            <div class="baseline"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="field half-width col-4">
                            <div id="stripe-card-expiry" class="input empty"></div>
                            <label for="stripe-card-expiry" data-tid="elements_examples.form.card_expiry_label">Expiration</label>
                            <div class="baseline"></div>
                          </div>
                          <div class="field half-width col-4 offset-1">
                            <div id="stripe-card-cvc" class="input empty"></div>
                            <label for="stripe-card-cvc" data-tid="elements_examples.form.card_cvc_label">CVC</label>
                            <div class="baseline"></div>
                          </div>
                        </div>
                      </div>
                      <hr class="my-4">
                      <div class="row">
                        <div class="col-6">
                          <button type="button" class="btn btn-lg btn-dark btn-block text-md text-uppercase"
                            routerLink="/user/subscription-options">Cancel</button>
                        </div>
                        <div class="col-6">
                          <button type="submit" class="btn btn-lg btn-primary btn-block text-md text-uppercase"
                            [disabled]="form.invalid || isBusy || expirationDateError || promoCodeError">
                            <ng-container *ngIf="isBusy"><i class="fal fa-spin fa-spinner"></i></ng-container>
                            <ng-container *ngIf="!isBusy && chargeInfo.totalCost">Confirm</ng-container>
                            <ng-container *ngIf="!isBusy && !chargeInfo.totalCost">Confirm</ng-container>
                          </button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </form>
          <ng-container *ngSwitchCase="Mode.Success">
            <div class="col-12 col-lg-8 offset-lg-2">
              <div class="card-deck">
                <div class="card card-box shadow mb-4 rounded-lg sub-block border-0">
                    <div class="card-body pt-4 pb-4 text-center">
                      <div class="my-4">
                        <i class="fa fa-check-circle text-xxl text-success"></i>
                      </div>
                      <h4 class="font-weight-light mb-4">Your payment was successful!</h4>
                      <button class="btn btn-sm btn-dark text-sm px-4 py-2" routerLink="/">Return to Daily Workout</button>
                    </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    
    <div class="row text-center">
      <div class="col-12 col-lg-4 offset-lg-4 mt-5 mt-lg-3">
        <p><small>This form and your information is 100% secure and is submitted over an encrypted SSL with Transport
            Layer Security (TLS)</small></p>
        <ul class="list-inline">
          <li class="list-inline-item"><a class="text-body text-sm" target="_blank" href="/pages/privacy-policy">Privacy Policy</a></li>
          <li class="list-inline-item"><a class="text-body text-sm" target="_blank" href="/pages/terms-and-conditions">Terms and Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>