.coach-check-active {
    width: 45px;
    height: 40px;
    background: #55da69;
    border-radius: 60px;
}

.coach-check-profile-active > img {
    width: 45px;
    border-radius: 50%;
}

.coach-check-in-active {
    width: 45px;
    height: 40px;
    background: #abb2b8;
    border-radius: 60px;
}