<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-8 col-lg-6 col-xl-4 text-center">
      <div  [inlineSVG]="'/img/tridot-logo.svg'" [autosize]="true"  style="width: 200px;" class="mt-4 mb-5 mx-auto d-inline-block"></div>
      <div class="alert {{responseMessage.class}}" role="alert" *ngIf="responseMessage.message">
        {{responseMessage.message}}
      </div>
      <div class="box shadow rounded mb-4 pb-5 pt-5">
        <form [formGroup]="changePasswordForm">
          <div class="row mb-2">
            <div class="col">
              <p class="text-center">Please enter your old and new passwords.</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">

              <label class="inside-label inside-label-lg" for="oldPassword">
                <span class="custom-tooltip" *ngIf="changePasswordForm.hasError('required', 'oldPassword') && changePasswordForm.get('oldPassword').touched">
                  <i class="far fa-exclamation-circle text-danger cursor-pointer"></i>
                  <span class="custom-tooltiptext">This field is required</span>
                </span>
              </label>

              <input type="password" class="form-control border-default" formControlName="oldPassword" [(ngModel)]="oldPassword" id="oldPassword"
                aria-describedby="emailHelp" placeholder="Old Password">
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <label class="inside-label inside-label-lg" for="password">
                <span class="custom-tooltip" *ngIf="changePasswordForm.hasError('required', 'password') && changePasswordForm.get('password').touched">
                  <i class="far fa-exclamation-circle text-danger cursor-pointer"></i>
                  <span class="custom-tooltiptext p-2"> This field is required</span>
                </span>
                <span class="custom-tooltip" *ngIf="changePasswordForm.hasError('minlength', 'password') && changePasswordForm.get('password').touched">
                  <i class="far fa-exclamation-circle text-danger cursor-pointer"></i>
                  <span class="custom-tooltiptext p-2"> Please enter at least 8 characters</span>
                </span>
                <span class="custom-tooltip" *ngIf="changePasswordForm.hasError('weak', 'password') && changePasswordForm.get('password').touched">
                  <i class="far fa-exclamation-circle text-danger cursor-pointer"></i>
                  <span class="custom-tooltiptext p-2"> Please enter at least 1 alpha; 1 number; 1 capital </span>
                </span>
                <i class="far fa-check-circle text-success" *ngIf="!changePasswordForm.hasError('required', 'password') && !changePasswordForm.hasError('minlength', 'password') && !changePasswordForm.hasError('weak', 'password') && changePasswordForm.get('password').touched"></i>
              </label>
              <input type="password" minlength="8" maxlength="50" formControlName="password" class="form-control"
                placeholder="New Password" [(ngModel)]="password">
              <small>At least 8 characters; 1 alpha; 1 number; 1 capital</small>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <label class="inside-label inside-label-lg">
                <span class="custom-tooltip" *ngIf="changePasswordForm.hasError('required', 'password2') && changePasswordForm.get('password2').touched">
                  <i class="far fa-exclamation-circle text-danger cursor-pointer"></i>
                  <span class="custom-tooltiptext p-2"> This field is required</span>
                </span>
                <span class="custom-tooltip" *ngIf="changePasswordForm.hasError('minlength', 'password2') && changePasswordForm.get('password2').touched">
                  <i class="far fa-exclamation-circle text-danger cursor-pointer"></i>
                  <span class="custom-tooltiptext p-2"> Please enter at least 8 characters</span>
                </span>
                <span class="custom-tooltip" *ngIf="changePasswordForm.hasError('matchOther', 'password2') && !changePasswordForm.hasError('minlength', 'password2') && changePasswordForm.get('password2').touched">
                  <i class="far fa-exclamation-circle text-danger cursor-pointer"></i>
                  <span class="custom-tooltiptext p-2"> Passwords must match </span>
                </span>
                <i class="far fa-check-circle text-success" *ngIf="!changePasswordForm.hasError('required', 'password2') && !changePasswordForm.hasError('minlength', 'password2') && !changePasswordForm.hasError('matchOther', 'password2') && changePasswordForm.get('password2').touched"></i>
              </label>
              <input type="password" minlength="8" maxlength="50" formControlName="password2" class="form-control"
                placeholder="Re-type Password" [(ngModel)]="password2">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" [disabled]="!changePasswordForm.valid || loading" class="btn btn-lg btn-block btn-danger text-md mb-3"
                (click)="change(oldPassword,password)">Change
                <i class="fal fa-spinner fa-spin" *ngIf="loading"></i>
              </button>
              <p class="mb-0">
                <a [routerLink]="['../']" class="font-italic mb-0">Return to Account Settings</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>