.border-default {
    box-shadow: none !important;
    border-color: #ced4da !important;
    &.ng-invalid {
        box-shadow: inset 0 0 0px 1px #e00a15 !important;
        border-color: #e00a15 !important;
    }
}