<div class="svg-container">
  <div  [inlineSVG]="'../../../../../assets/img/svg/genetics-chart/' + filename + ''" [autosize]="true" height="270" style="width: 270px;" class="mx-auto d-inline-block"></div>
  <ng-container [ngSwitch]="chartType">
    <div *ngSwitchCase="'power'" class="svg-label">
      <div class="border-bottom pb-2">{{title}}</div>
      <div class="d-flex text-sm pt-2">
        <span>Power</span>
        <strong class="text-muted pr-2">{{closestPercentage}}%</strong>
        <span class="border-left pl-2">Endurance</span>
        <strong class="text-muted">{{100 - closestPercentage}}%</strong>
      </div>
    </div>
    <div *ngSwitchDefault class="svg-label">
      <div class="border-bottom pb-2">{{title}}</div>
      <div class="text-muted pt-2">{{upperCase}}</div>
    </div>
  </ng-container>
</div>