<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-4 text-center">
          <div  [inlineSVG]="'../../../assets/img/tridot-logo.svg'" [autosize]="true"  style="width: 200px;" class="mb-2 mx-auto d-inline-block"></div>
          <h4 class="mb-3">Contact Us</h4>
        </div>
      </div>
    </div>
    <div class="row row-flex">
      <div class="col-12 col-md-6">
        <div class="card card-box p-4 mb-4 mb-sm-0 text-center">
          <span class="mb-2"><strong>TriDot Athlete Support</strong></span>
          <p class="mb-3">For website support, account issues, and general questions,
            TriDot athletes should login and submit a support request.</p>
          <div class="text-center">
            <a href="/support" class="btn btn-secondary px-5">Submit Request</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card card-box p-4 mb-4 mb-sm-0">
          <span class="mb-2"><strong>Contact Us</strong></span>
          <span class="mb-2">Email: <a href="mailto:info@tridot.com">info@tridot.com</a></span>
          <span class="mb-3">Phone: (866) 961-5551</span>
          <span class="mb-2"><strong>Mailing Address</strong></span>
          <span class="mb-2">Predictive Fitness, LLC</span>
          <span class="">2600 E. Southlake Blvd., Suite 120 #140<br>
            Southlake, Texas 76092</span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
