app-session-details {
  .data-controls button:not(:last-of-type) {
    margin-right: 2px;
  }

  .show-animate {
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
    display: block;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .zone-type {
    font-weight: 900 !important;
  }

  .zone-label {
    justify-content: left !important;
  }

  .details-menu-wrap {
    .custom-menu__button {
      right: 0px;
      top: -4px;
    }
  }

  .details-menu-wrap,
  .details-menu-wrap.open {
    right: -10px;
    top:-13px;
  }

  .details-menu-wrap.open {
    top: -14px;
    right: -11px;
  }

.export-menu-wrap {
  // right: -70px;
  top: -4px;
  ul.dropdown-menu {
     left: -161px !important;
     width: 330px;
    li {
      button {
        // max-width:80px;
      }
    }
  }

  @media (max-width: 767px) {
    ul.dropdown-menu {
      left: auto !important;
    }
  }

  @media (max-width: 575.98px) {
    ul.dropdown-menu {
      position: fixed !important;
      left: 20px !important;
      right: 20px !important;
      width: auto !important;
      top: auto !important;
    }

  @media (max-width: 374.98px) {
    #dropdown-custom-html .time-input-group {
      display: grid;
      }
    }
  }
}

  .export-menu-wrap {
   .btn-primary {
    &:disabled {
      background: none;
    }
   }
  }

.export-menu-wrap-disabled {
  cursor:not-allowed;
  visibility:hidden;
}

  .notes-block {
    max-width: 320px;
    max-height: 300px;
    overflow: auto;
  }

  .z1-actual {
    background: #2218af;
  }

  .zones-table {
    font-size: 13px;
    border-collapse: separate;
    border-spacing: 0em 1em;

    th {
      border: none;

      &:first-child {
        padding-left: 30px;
      }

      &:nth-child(3) {
        text-align: center;
      }

      &:nth-child(4) {
        text-align: center;
      }
    }

    tbody tr {
      background: #f9fafb;
    }

    tbody tr td {
      background: #f9fafb;
      font-weight: 500;
      text-align: center;
      vertical-align: middle;
      border: none;

      &.col-planned {
        background: #f0f1f3;
      }

      &.z1 {
        background: #2218a9;
        font-weight: 900;
        color: #ffffff;
      }

      &.z2 {
        background: #3e39d9;
        font-weight: 900;
        color: #ffffff;
      }

      &.z3 {
        background: #6a44da;
        font-weight: 900;
        color: #ffffff;
      }

      &.z4 {
        background: #673498;
        font-weight: 900;
        color: #ffffff;
      }

      &.z5 {
        background: #9b50cf;
        font-weight: 900;
        color: #ffffff;
      }

      &.z6 {
        background: #d486ec;
        font-weight: 900;
        color: #ffffff;
      }

      &:first-child {
        border-radius: 30px 0px 0px 30px;
        -webkit-border-radius: 30px 0px 0px 30px;
        -moz-border-radius: 30px 0px 0px 30px;
        font-weight: bold;
        padding-left: 30px;
      }

      &:nth-child(2) {
        text-align: left;
      }

      &:last-child {
        border-radius: 0px 30px 30px 0px;
        -webkit-border-radius: 0px 30px 30px 0px;
        -moz-border-radius: 0px 30px 30px 0px;
        padding: 0;
        height: 5px !important;

        div {
          border-radius: 0px 30px 30px 0px;
          -webkit-border-radius: 0px 30px 30px 0px;
          -moz-border-radius: 0px 30px 30px 0px;
          height: 100% !important;

          &.z1 {
            background: #2218a9;
          }

          &.z2 {
            background: #3e39d9;
          }

          &.z3 {
            background: #6a44da;
          }

          &.z4 {
            background: #673498;
          }

          &.z5 {
            background: #9b50cf;
          }

          &.z6 {
            background: #d486ec;
          }
        }
      }

      &:nth-child(6) {
        text-align: left;
      }

      &.bordered {
        padding-right: 0;
        height: 5px !important;

        div {
          padding-right: 0.75rem;
          border-right: 1px solid;
          border-color: #dcdcdc;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .table-icons {
    height: 25px;
    width: 25px;
    margin: 0 0 0 10px;

    svg {
      height: 25px;
      width: 25px;

    }

    i>svg path {
      fill: #e3e3e4;
    }

    &.table-icon-active {
      i>svg path {
        fill: #9ce34a;
      }
    }
  }

  .comments-box {
    background: #f0f1f3;
    margin-left: -64px;
    margin-right: -64px;
    margin-bottom: -64px;
    padding: 16px !important;

    input {
      padding: 8px;
    }
  }

  .upload-data-file {
    background: #e741f3;
    border-color: #e741f3;
    color: white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    padding: 7px 20px;
    font-size: 12px;
    box-shadow: 0 3px 12px rgba(231, 65, 243, .6);
    &:disabled {
      background: #ecedf0;
      border-color: #ecedf0;
      color: #aaa;
      box-shadow: none;
    }
  }

  .manual-completion {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    padding: 7px 20px;
    font-size: 12px;
    &:disabled {
      background: #ecedf0;
      border-color: #ecedf0;
      color: #aaa;
      box-shadow: none;
    }
  }

  .nav-tabs {
    .nav-item {
      .nav-link {
        background-color: #f2f2f2;

        &.active {
          padding-bottom: 9px;
          border-bottom: 1px white solid;
          background-color: white;
        }
      }
    }

    .table-icons-group {
      display: flex;
      position: absolute;
      right: 75px;
    }
  }
}

@media only screen and(max-width: 767px) {
  .daily-workout-btn-container {
    margin-right: 20px !important;
  }
}

@media (max-width: 575.98px) {
  .daily-workout-container {
    &.box {
      padding:20px !important;
    }
    .daily-workout-btn-container {
      button {
        width:100%;
        display:block;
        margin-top:15px;
      }
    }
  }
  app-session-details {
    .details-menu-wrap {
      right:10px;
      &.open {
        right:10px;
      }
    }
    .comments-box {
      margin-top:20px !important;
      margin-left: -30px;
      margin-right: -30px;
      margin-bottom: -30px;
    }
  }
  .daily-workout-details-column {
    margin-bottom:30px;
  }
}

@media (max-width: 767px) {
  app-session-details {
    .details-menu-wrap {
      right:20px;
      &.open {
        right:20px;
      }
    }
  }
}

@media screen and (max-width: 992px){
  .push-workout-margin {
    margin-right: 25px !important;
  }
}

@media screen and (max-width: 767px){
  .push-workout-margin {
    margin-right: 55px !important;
  }
}

#dropdown-custom-html {
  .btn-default {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    height: 30px;
    font-size: 90%;
    line-height: 1.2;
  }

  .btn-default:hover,
  .btn-default.active {
    color: #fff;
    background-color: rgb(124, 134, 141);
  }

  .time-input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 0;
  }

  .time-input-group .input-group {
    width: 100px;
  }

  .time-input-group .input-group input {
    height: 30px;
    width: 35px;
    font-size: 90%;
  }

  .export-btn {
    height: 40px;
    display: block;
    width: 100%;
    background-color: #c7c7c7;
  }

  .export-btn:disabled,
  .btn:disabled {
    cursor: not-allowed;
    background-color: #c7c7c7;
  }

  .btn.enabled {
    background-color: inherit;
  }

  .export-btn:enabled {
    background-color: rgb(231, 65, 243); 
    color: #fff;
  }

  hr {
    margin-top: 0.25rem;
  }
}